body::-webkit-scrollbar {
    width: 2px
}

.heading {
    color: #333333;
    background: #FFFFFF;
    text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0, 0, 0, 0.15);
}

p {
    font-size: 16px !important
}

body {
    background: none
}

h2 {
    text-align: center;
    font-size: 30px !important
}

div p {
    line-height: 1
}

.post-container {
    box-shadow: 2px 2px 8px 6px rgba(0, 0, 0, 0.53);
    border-radius: 5px;
    margin: 20px auto;
    max-width: 500px;
    padding: 20px
}

.post-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px
}

.post-paragraph {
    font-size: 16px;
    margin-bottom: 20px
}

.chat-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #f7f7f7;
    box-shadow: 2px 2px 8px 6px rgba(0, 0, 0, 0.44);
}

.chat-message {
    display: flex;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: #fff
}

.chat-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px
}

.chat-content {
    flex: 1;
    font-size: 13px
}

.img {
    display: flex;
    margin: 0 auto
}

#toggleButton {
    display: flex;
    border-radius: 5px;
    font-weight: 800;
    font-size: 13px;
    color: #000000;
    padding: 2px 50px;
    border: none !important;
    box-shadow: 2px 2px 8px 6px rgba(0, 0, 0, 0.44);
    border-radius: 16px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin: 5px 0px 5px 0px;
}

.cont {
    display: flex;
    margin: 15px 0px 10px 0px;
}

i {
    font-size: 20px;
    color: #2485e0;
    margin-right: 5px;
}

.likes {
    font-size: 14px;
    padding-right: 10px;
    color: #657786;
}

#botonIncrementarA,
#botonIncrementarB {
    margin: 0 15px;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contenedor {
    display: flex;
}

.post-header {
    display: flex;
    align-items: center;
}

.copy {
    font-size: 15px;
}

.post-header img {
    width: 40px;
    transition: transform 1s ease;
    border-radius: 50%;
    margin-right: 8px;
}

.post-header img:hover {
    transform: scale(1.3);
}

.username {
    font-weight: bold;
}

.bluet {
    width: 20px;
    height: 20px;
    display: flex;


}

.post-add-comment input[type="text"] {
    width: 75%;
    padding: 8px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}

.post-add-comment button {
    padding: 8px 16px;
    background-color: #3897f0;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.post-add-comment input[type="text"],
.post-add-comment button {

    border-radius: 20px;
}

.fa-paper-plane {
    font-size: 14px;
}